@import '../../../scss/index.scss';

.header {
  padding: 20px;
}

.header__logo {
  width: 60px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__drop-menu {
  position: relative;
}

.header__drop-menu__icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;

  &:hover {
    span:nth-child(2) {
      width: 100%;
    }
  }

  span {
    background: #000;
    margin-bottom: 5px;
    height: 2px;

    &:first-child {
      width: 100%;
    }

    &:nth-child(2) {
      width: 60%;
      transition: 0.3s;
    }

    &:last-child {
      width: 100%;
    }
  }
}

.header__drop-menu__links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  background: #f6f6f6;
  display: none;
  z-index: 1;

  &::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
}

.header__drop-menu__links-list__link {
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: 0.3s;
    color: #000;
    font-weight: 500;

    &:hover {
      padding-left: 25px;
    }
  }
}

.header__drop-menu:hover .header__drop-menu__links-list {
  display: block;
}
